<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICorporateCBS" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://cbs.zong.com.pk/ReachCWSv2/CorporateSMS.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICorporateCBS"
                contract="SMSService.ICorporateCBS" name="BasicHttpBinding_ICorporateCBS" />
        </client>
    </system.serviceModel>
</configuration>